{"openapi":"3.0.1","info":{"title":"App Store Connect API - IAP and Subscriptions","version":"4.0.0"},"servers":[{"url":"https://api.appstoreconnect.apple.com/"}],"paths":{"/v1/inAppPurchaseLocalizations":{"post":{"tags":["InAppPurchaseLocalizations"],"operationId":"inAppPurchaseLocalizations_createInstance","requestBody":{"description":"InAppPurchaseLocalization representation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InAppPurchaseLocalizationCreateRequest"}}},"required":true},"responses":{"201":{"description":"Single InAppPurchaseLocalization","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InAppPurchaseLocalizationResponse"}}}},"400":{"description":"Parameter error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Request entity error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Unprocessable request entity error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limit exceeded error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/inAppPurchaseLocalizations/{id}":{"get":{"tags":["InAppPurchaseLocalizations"],"operationId":"inAppPurchaseLocalizations_getInstance","parameters":[{"name":"fields[inAppPurchaseLocalizations]","in":"query","description":"the fields to include for returned resources of type inAppPurchaseLocalizations","schema":{"type":"array","items":{"type":"string","enum":["name","locale","description","state","inAppPurchaseV2"]}},"style":"form","explode":false,"required":false},{"name":"include","in":"query","description":"comma-separated list of relationships to include","schema":{"type":"array","items":{"type":"string","enum":["inAppPurchaseV2"]}},"style":"form","explode":false,"required":false}],"responses":{"200":{"description":"Single InAppPurchaseLocalization","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InAppPurchaseLocalizationResponse"}}}},"400":{"description":"Parameter error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limit exceeded error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"patch":{"tags":["InAppPurchaseLocalizations"],"operationId":"inAppPurchaseLocalizations_updateInstance","requestBody":{"description":"InAppPurchaseLocalization representation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InAppPurchaseLocalizationUpdateRequest"}}},"required":true},"responses":{"200":{"description":"Single InAppPurchaseLocalization","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InAppPurchaseLocalizationResponse"}}}},"400":{"description":"Parameter error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Request entity error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Unprocessable request entity error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limit exceeded error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"delete":{"tags":["InAppPurchaseLocalizations"],"operationId":"inAppPurchaseLocalizations_deleteInstance","responses":{"204":{"description":"Success (no content)"},"400":{"description":"Parameter error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Request entity error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limit exceeded error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"parameters":[{"name":"id","in":"path","description":"the id of the requested resource","schema":{"type":"string"},"style":"simple","required":true}]},"/v1/inAppPurchasePriceSchedules":{"post":{"tags":["InAppPurchasePriceSchedules"],"operationId":"inAppPurchasePriceSchedules_createInstance","requestBody":{"description":"InAppPurchasePriceSchedule representation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InAppPurchasePriceScheduleCreateRequest"}}},"required":true},"responses":{"201":{"description":"Single InAppPurchasePriceSchedule","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InAppPurchasePriceScheduleResponse"}}}},"400":{"description":"Parameter error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Request entity error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Unprocessable request entity error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limit exceeded error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/subscriptionGroupLocalizations":{"post":{"tags":["SubscriptionGroupLocalizations"],"operationId":"subscriptionGroupLocalizations_createInstance","requestBody":{"description":"SubscriptionGroupLocalization representation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubscriptionGroupLocalizationCreateRequest"}}},"required":true},"responses":{"201":{"description":"Single SubscriptionGroupLocalization","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubscriptionGroupLocalizationResponse"}}}},"400":{"description":"Parameter error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Request entity error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Unprocessable request entity error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limit exceeded error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/subscriptionGroupLocalizations/{id}":{"get":{"tags":["SubscriptionGroupLocalizations"],"operationId":"subscriptionGroupLocalizations_getInstance","parameters":[{"name":"fields[subscriptionGroupLocalizations]","in":"query","description":"the fields to include for returned resources of type subscriptionGroupLocalizations","schema":{"type":"array","items":{"type":"string","enum":["name","customAppName","locale","state","subscriptionGroup"]}},"style":"form","explode":false,"required":false},{"name":"include","in":"query","description":"comma-separated list of relationships to include","schema":{"type":"array","items":{"type":"string","enum":["subscriptionGroup"]}},"style":"form","explode":false,"required":false}],"responses":{"200":{"description":"Single SubscriptionGroupLocalization","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubscriptionGroupLocalizationResponse"}}}},"400":{"description":"Parameter error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limit exceeded error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"patch":{"tags":["SubscriptionGroupLocalizations"],"operationId":"subscriptionGroupLocalizations_updateInstance","requestBody":{"description":"SubscriptionGroupLocalization representation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubscriptionGroupLocalizationUpdateRequest"}}},"required":true},"responses":{"200":{"description":"Single SubscriptionGroupLocalization","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubscriptionGroupLocalizationResponse"}}}},"400":{"description":"Parameter error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Request entity error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Unprocessable request entity error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limit exceeded error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"delete":{"tags":["SubscriptionGroupLocalizations"],"operationId":"subscriptionGroupLocalizations_deleteInstance","responses":{"204":{"description":"Success (no content)"},"400":{"description":"Parameter error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Request entity error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limit exceeded error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"parameters":[{"name":"id","in":"path","description":"the id of the requested resource","schema":{"type":"string"},"style":"simple","required":true}]},"/v1/subscriptionLocalizations":{"post":{"tags":["SubscriptionLocalizations"],"operationId":"subscriptionLocalizations_createInstance","requestBody":{"description":"SubscriptionLocalization representation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubscriptionLocalizationCreateRequest"}}},"required":true},"responses":{"201":{"description":"Single SubscriptionLocalization","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubscriptionLocalizationResponse"}}}},"400":{"description":"Parameter error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Request entity error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Unprocessable request entity error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limit exceeded error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/subscriptionLocalizations/{id}":{"get":{"tags":["SubscriptionLocalizations"],"operationId":"subscriptionLocalizations_getInstance","parameters":[{"name":"fields[subscriptionLocalizations]","in":"query","description":"the fields to include for returned resources of type subscriptionLocalizations","schema":{"type":"array","items":{"type":"string","enum":["name","locale","description","state","subscription"]}},"style":"form","explode":false,"required":false},{"name":"include","in":"query","description":"comma-separated list of relationships to include","schema":{"type":"array","items":{"type":"string","enum":["subscription"]}},"style":"form","explode":false,"required":false}],"responses":{"200":{"description":"Single SubscriptionLocalization","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubscriptionLocalizationResponse"}}}},"400":{"description":"Parameter error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limit exceeded error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"patch":{"tags":["SubscriptionLocalizations"],"operationId":"subscriptionLocalizations_updateInstance","requestBody":{"description":"SubscriptionLocalization representation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubscriptionLocalizationUpdateRequest"}}},"required":true},"responses":{"200":{"description":"Single SubscriptionLocalization","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubscriptionLocalizationResponse"}}}},"400":{"description":"Parameter error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Request entity error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Unprocessable request entity error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limit exceeded error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"delete":{"tags":["SubscriptionLocalizations"],"operationId":"subscriptionLocalizations_deleteInstance","responses":{"204":{"description":"Success (no content)"},"400":{"description":"Parameter error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Request entity error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limit exceeded error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"parameters":[{"name":"id","in":"path","description":"the id of the requested resource","schema":{"type":"string"},"style":"simple","required":true}]},"/v1/subscriptionPrices":{"post":{"tags":["SubscriptionPrices"],"operationId":"subscriptionPrices_createInstance","requestBody":{"description":"SubscriptionPrice representation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubscriptionPriceCreateRequest"}}},"required":true},"responses":{"201":{"description":"Single SubscriptionPrice","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubscriptionPriceResponse"}}}},"400":{"description":"Parameter error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Request entity error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Unprocessable request entity error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limit exceeded error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/subscriptionPrices/{id}":{"delete":{"tags":["SubscriptionPrices"],"operationId":"subscriptionPrices_deleteInstance","responses":{"204":{"description":"Success (no content)"},"400":{"description":"Parameter error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Request entity error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limit exceeded error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"parameters":[{"name":"id","in":"path","description":"the id of the requested resource","schema":{"type":"string"},"style":"simple","required":true}]},"/v1/subscriptionIntroductoryOffers":{"post":{"tags":["SubscriptionIntroductoryOffers"],"operationId":"subscriptionIntroductoryOffers_createInstance","requestBody":{"description":"SubscriptionIntroductoryOffer representation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubscriptionIntroductoryOfferCreateRequest"}}},"required":true},"responses":{"201":{"description":"Single SubscriptionIntroductoryOffer","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubscriptionIntroductoryOfferResponse"}}}},"400":{"description":"Parameter error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Request entity error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Unprocessable request entity error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limit exceeded error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/subscriptionIntroductoryOffers/{id}":{"patch":{"tags":["SubscriptionIntroductoryOffers"],"operationId":"subscriptionIntroductoryOffers_updateInstance","requestBody":{"description":"SubscriptionIntroductoryOffer representation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubscriptionIntroductoryOfferUpdateRequest"}}},"required":true},"responses":{"200":{"description":"Single SubscriptionIntroductoryOffer","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubscriptionIntroductoryOfferResponse"}}}},"400":{"description":"Parameter error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Request entity error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Unprocessable request entity error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limit exceeded error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"delete":{"tags":["SubscriptionIntroductoryOffers"],"operationId":"subscriptionIntroductoryOffers_deleteInstance","responses":{"204":{"description":"Success (no content)"},"400":{"description":"Parameter error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Request entity error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limit exceeded error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"parameters":[{"name":"id","in":"path","description":"the id of the requested resource","schema":{"type":"string"},"style":"simple","required":true}]},"/v1/subscriptionPromotionalOffers":{"post":{"tags":["SubscriptionPromotionalOffers"],"operationId":"subscriptionPromotionalOffers_createInstance","requestBody":{"description":"SubscriptionPromotionalOffer representation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubscriptionPromotionalOfferCreateRequest"}}},"required":true},"responses":{"201":{"description":"Single SubscriptionPromotionalOffer","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubscriptionPromotionalOfferResponse"}}}},"400":{"description":"Parameter error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Request entity error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Unprocessable request entity error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limit exceeded error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/subscriptionPromotionalOffers/{id}":{"get":{"tags":["SubscriptionPromotionalOffers"],"operationId":"subscriptionPromotionalOffers_getInstance","parameters":[{"name":"fields[subscriptionPromotionalOffers]","in":"query","description":"the fields to include for returned resources of type subscriptionPromotionalOffers","schema":{"type":"array","items":{"type":"string","enum":["duration","name","numberOfPeriods","offerCode","offerMode","subscription","prices"]}},"style":"form","explode":false,"required":false},{"name":"fields[subscriptionPromotionalOfferPrices]","in":"query","description":"the fields to include for returned resources of type subscriptionPromotionalOfferPrices","schema":{"type":"array","items":{"type":"string","enum":["territory","subscriptionPricePoint"]}},"style":"form","explode":false,"required":false},{"name":"include","in":"query","description":"comma-separated list of relationships to include","schema":{"type":"array","items":{"type":"string","enum":["subscription","prices"]}},"style":"form","explode":false,"required":false},{"name":"limit[prices]","in":"query","description":"maximum number of related prices returned (when they are included)","schema":{"type":"integer","maximum":50},"style":"form","required":false}],"responses":{"200":{"description":"Single SubscriptionPromotionalOffer","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubscriptionPromotionalOfferResponse"}}}},"400":{"description":"Parameter error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limit exceeded error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"patch":{"tags":["SubscriptionPromotionalOffers"],"operationId":"subscriptionPromotionalOffers_updateInstance","requestBody":{"description":"SubscriptionPromotionalOffer representation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubscriptionPromotionalOfferUpdateRequest"}}},"required":true},"responses":{"200":{"description":"Single SubscriptionPromotionalOffer","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubscriptionPromotionalOfferResponse"}}}},"400":{"description":"Parameter error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Request entity error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Unprocessable request entity error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limit exceeded error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"delete":{"tags":["SubscriptionPromotionalOffers"],"operationId":"subscriptionPromotionalOffers_deleteInstance","responses":{"204":{"description":"Success (no content)"},"400":{"description":"Parameter error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Request entity error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limit exceeded error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"parameters":[{"name":"id","in":"path","description":"the id of the requested resource","schema":{"type":"string"},"style":"simple","required":true}]},"/v1/subscriptionOfferCodes":{"post":{"tags":["SubscriptionOfferCodes"],"operationId":"subscriptionOfferCodes_createInstance","requestBody":{"description":"SubscriptionOfferCode representation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubscriptionOfferCodeCreateRequest"}}},"required":true},"responses":{"201":{"description":"Single SubscriptionOfferCode","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubscriptionOfferCodeResponse"}}}},"400":{"description":"Parameter error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Request entity error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Unprocessable request entity error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limit exceeded error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/subscriptionOfferCodes/{id}":{"get":{"tags":["SubscriptionOfferCodes"],"operationId":"subscriptionOfferCodes_getInstance","parameters":[{"name":"fields[subscriptionOfferCodes]","in":"query","description":"the fields to include for returned resources of type subscriptionOfferCodes","schema":{"type":"array","items":{"type":"string","enum":["name","customerEligibilities","offerEligibility","duration","offerMode","numberOfPeriods","active","subscription","oneTimeUseCodes","customCodes","prices"]}},"style":"form","explode":false,"required":false},{"name":"fields[subscriptionOfferCodeOneTimeUseCodes]","in":"query","description":"the fields to include for returned resources of type subscriptionOfferCodeOneTimeUseCodes","schema":{"type":"array","items":{"type":"string","enum":["numberOfCodes","createdDate","expirationDate","active","offerCode","values"]}},"style":"form","explode":false,"required":false},{"name":"fields[subscriptionOfferCodeCustomCodes]","in":"query","description":"the fields to include for returned resources of type subscriptionOfferCodeCustomCodes","schema":{"type":"array","items":{"type":"string","enum":["customCode","numberOfCodes","createdDate","expirationDate","active","offerCode"]}},"style":"form","explode":false,"required":false},{"name":"fields[subscriptionOfferCodePrices]","in":"query","description":"the fields to include for returned resources of type subscriptionOfferCodePrices","schema":{"type":"array","items":{"type":"string","enum":["territory","subscriptionPricePoint"]}},"style":"form","explode":false,"required":false},{"name":"include","in":"query","description":"comma-separated list of relationships to include","schema":{"type":"array","items":{"type":"string","enum":["subscription","oneTimeUseCodes","customCodes","prices"]}},"style":"form","explode":false,"required":false},{"name":"limit[customCodes]","in":"query","description":"maximum number of related customCodes returned (when they are included)","schema":{"type":"integer","maximum":50},"style":"form","required":false},{"name":"limit[oneTimeUseCodes]","in":"query","description":"maximum number of related oneTimeUseCodes returned (when they are included)","schema":{"type":"integer","maximum":50},"style":"form","required":false},{"name":"limit[prices]","in":"query","description":"maximum number of related prices returned (when they are included)","schema":{"type":"integer","maximum":50},"style":"form","required":false}],"responses":{"200":{"description":"Single SubscriptionOfferCode","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubscriptionOfferCodeResponse"}}}},"400":{"description":"Parameter error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limit exceeded error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"patch":{"tags":["SubscriptionOfferCodes"],"operationId":"subscriptionOfferCodes_updateInstance","requestBody":{"description":"SubscriptionOfferCode representation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubscriptionOfferCodeUpdateRequest"}}},"required":true},"responses":{"200":{"description":"Single SubscriptionOfferCode","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubscriptionOfferCodeResponse"}}}},"400":{"description":"Parameter error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Request entity error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Unprocessable request entity error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limit exceeded error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"parameters":[{"name":"id","in":"path","description":"the id of the requested resource","schema":{"type":"string"},"style":"simple","required":true}]},"/v1/subscriptionGroups/{id}/subscriptions":{"get":{"tags":["SubscriptionGroups"],"operationId":"subscriptionGroups_subscriptions_getToManyRelated","parameters":[{"name":"filter[productId]","in":"query","description":"filter by attribute 'productId'","schema":{"type":"array","items":{"type":"string"}},"style":"form","explode":false},{"name":"filter[name]","in":"query","description":"filter by attribute 'name'","schema":{"type":"array","items":{"type":"string"}},"style":"form","explode":false},{"name":"filter[state]","in":"query","description":"filter by attribute 'state'","schema":{"type":"array","items":{"type":"string","enum":["MISSING_METADATA","READY_TO_SUBMIT","WAITING_FOR_REVIEW","IN_REVIEW","DEVELOPER_ACTION_NEEDED","PENDING_BINARY_APPROVAL","APPROVED","DEVELOPER_REMOVED_FROM_SALE","REMOVED_FROM_SALE","REJECTED"]}},"style":"form","explode":false},{"name":"sort","in":"query","description":"comma-separated list of sort expressions; resources will be sorted as specified","schema":{"type":"array","items":{"type":"string","enum":["name","-name"]}},"style":"form","explode":false},{"name":"fields[subscriptions]","in":"query","description":"the fields to include for returned resources of type subscriptions","schema":{"type":"array","items":{"type":"string","enum":["name","productId","familySharable","state","subscriptionPeriod","reviewNote","groupLevel","subscriptionLocalizations","appStoreReviewScreenshot","group","introductoryOffers","promotionalOffers","offerCodes","prices","pricePoints","promotedPurchase","subscriptionAvailability","winBackOffers","images"]}},"style":"form","explode":false},{"name":"fields[subscriptionLocalizations]","in":"query","description":"the fields to include for returned resources of type subscriptionLocalizations","schema":{"type":"array","items":{"type":"string","enum":["name","locale","description","state","subscription"]}},"style":"form","explode":false},{"name":"fields[subscriptionAppStoreReviewScreenshots]","in":"query","description":"the fields to include for returned resources of type subscriptionAppStoreReviewScreenshots","schema":{"type":"array","items":{"type":"string","enum":["fileSize","fileName","sourceFileChecksum","imageAsset","assetToken","assetType","uploadOperations","assetDeliveryState","subscription"]}},"style":"form","explode":false},{"name":"fields[subscriptionGroups]","in":"query","description":"the fields to include for returned resources of type subscriptionGroups","schema":{"type":"array","items":{"type":"string","enum":["referenceName","subscriptions","subscriptionGroupLocalizations"]}},"style":"form","explode":false},{"name":"fields[subscriptionIntroductoryOffers]","in":"query","description":"the fields to include for returned resources of type subscriptionIntroductoryOffers","schema":{"type":"array","items":{"type":"string","enum":["startDate","endDate","duration","offerMode","numberOfPeriods","subscription","territory","subscriptionPricePoint"]}},"style":"form","explode":false},{"name":"fields[subscriptionPromotionalOffers]","in":"query","description":"the fields to include for returned resources of type subscriptionPromotionalOffers","schema":{"type":"array","items":{"type":"string","enum":["duration","name","numberOfPeriods","offerCode","offerMode","subscription","prices"]}},"style":"form","explode":false},{"name":"fields[subscriptionOfferCodes]","in":"query","description":"the fields to include for returned resources of type subscriptionOfferCodes","schema":{"type":"array","items":{"type":"string","enum":["name","customerEligibilities","offerEligibility","duration","offerMode","numberOfPeriods","active","subscription","oneTimeUseCodes","customCodes","prices"]}},"style":"form","explode":false},{"name":"fields[subscriptionPrices]","in":"query","description":"the fields to include for returned resources of type subscriptionPrices","schema":{"type":"array","items":{"type":"string","enum":["startDate","preserved","territory","subscriptionPricePoint"]}},"style":"form","explode":false},{"name":"fields[promotedPurchases]","in":"query","description":"the fields to include for returned resources of type promotedPurchases","schema":{"type":"array","items":{"type":"string","enum":["visibleForAllUsers","enabled","state","inAppPurchaseV2","subscription"]}},"style":"form","explode":false},{"name":"fields[subscriptionAvailabilities]","in":"query","description":"the fields to include for returned resources of type subscriptionAvailabilities","schema":{"type":"array","items":{"type":"string","enum":["availableInNewTerritories","availableTerritories"]}},"style":"form","explode":false},{"name":"fields[winBackOffers]","in":"query","description":"the fields to include for returned resources of type winBackOffers","schema":{"type":"array","items":{"type":"string","enum":["referenceName","offerId","duration","offerMode","periodCount","customerEligibilityPaidSubscriptionDurationInMonths","customerEligibilityTimeSinceLastSubscribedInMonths","customerEligibilityWaitBetweenOffersInMonths","startDate","endDate","priority","promotionIntent","prices"]}},"style":"form","explode":false},{"name":"fields[subscriptionImages]","in":"query","description":"the fields to include for returned resources of type subscriptionImages","schema":{"type":"array","items":{"type":"string","enum":["fileSize","fileName","sourceFileChecksum","assetToken","imageAsset","uploadOperations","state","subscription"]}},"style":"form","explode":false},{"name":"limit","in":"query","description":"maximum resources per page","schema":{"type":"integer","maximum":200},"style":"form"},{"name":"include","in":"query","description":"comma-separated list of relationships to include","schema":{"type":"array","items":{"type":"string","enum":["subscriptionLocalizations","appStoreReviewScreenshot","group","introductoryOffers","promotionalOffers","offerCodes","prices","promotedPurchase","subscriptionAvailability","winBackOffers","images"]}},"style":"form","explode":false},{"name":"limit[subscriptionLocalizations]","in":"query","description":"maximum number of related subscriptionLocalizations returned (when they are included)","schema":{"type":"integer","maximum":50},"style":"form"},{"name":"limit[introductoryOffers]","in":"query","description":"maximum number of related introductoryOffers returned (when they are included)","schema":{"type":"integer","maximum":50},"style":"form"},{"name":"limit[promotionalOffers]","in":"query","description":"maximum number of related promotionalOffers returned (when they are included)","schema":{"type":"integer","maximum":50},"style":"form"},{"name":"limit[offerCodes]","in":"query","description":"maximum number of related offerCodes returned (when they are included)","schema":{"type":"integer","maximum":50},"style":"form"},{"name":"limit[prices]","in":"query","description":"maximum number of related prices returned (when they are included)","schema":{"type":"integer","maximum":50},"style":"form"},{"name":"limit[winBackOffers]","in":"query","description":"maximum number of related winBackOffers returned (when they are included)","schema":{"type":"integer","maximum":50},"style":"form"},{"name":"limit[images]","in":"query","description":"maximum number of related images returned (when they are included)","schema":{"type":"integer","maximum":50},"style":"form"}],"responses":{"200":{"description":"List of Subscriptions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubscriptionsResponse"}}}},"400":{"description":"Parameter error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limit exceeded error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"parameters":[{"name":"id","in":"path","description":"the id of the requested resource","schema":{"type":"string"},"style":"simple","required":true}]},"/v1/subscriptionGroups/{id}/subscriptionGroupLocalizations":{"get":{"tags":["SubscriptionGroups"],"operationId":"subscriptionGroups_subscriptionGroupLocalizations_getToManyRelated","parameters":[{"name":"fields[subscriptionGroupLocalizations]","in":"query","description":"the fields to include for returned resources of type subscriptionGroupLocalizations","schema":{"type":"array","items":{"type":"string","enum":["name","customAppName","locale","state","subscriptionGroup"]}},"style":"form","explode":false},{"name":"fields[subscriptionGroups]","in":"query","description":"the fields to include for returned resources of type subscriptionGroups","schema":{"type":"array","items":{"type":"string","enum":["referenceName","subscriptions","subscriptionGroupLocalizations"]}},"style":"form","explode":false},{"name":"limit","in":"query","description":"maximum resources per page","schema":{"type":"integer","maximum":200},"style":"form"},{"name":"include","in":"query","description":"comma-separated list of relationships to include","schema":{"type":"array","items":{"type":"string","enum":["subscriptionGroup"]}},"style":"form","explode":false}],"responses":{"200":{"description":"List of SubscriptionGroupLocalizations","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubscriptionGroupLocalizationsResponse"}}}},"400":{"description":"Parameter error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limit exceeded error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"parameters":[{"name":"id","in":"path","description":"the id of the requested resource","schema":{"type":"string"},"style":"simple","required":true}]},"/v1/subscriptions/{id}/offerCodes":{"get":{"tags":["Subscriptions"],"operationId":"subscriptions_offerCodes_getToManyRelated","parameters":[{"name":"filter[territory]","in":"query","description":"filter by territory","schema":{"type":"array","items":{"type":"string"}},"style":"form","explode":false},{"name":"fields[subscriptionOfferCodes]","in":"query","description":"the fields to include for returned resources of type subscriptionOfferCodes","schema":{"type":"array","items":{"type":"string","enum":["name","customerEligibilities","offerEligibility","duration","offerMode","numberOfPeriods","active","subscription","oneTimeUseCodes","customCodes","prices"]}},"style":"form","explode":false},{"name":"fields[subscriptions]","in":"query","description":"the fields to include for returned resources of type subscriptions","schema":{"type":"array","items":{"type":"string","enum":["name","productId","familySharable","state","subscriptionPeriod","reviewNote","groupLevel","subscriptionLocalizations","appStoreReviewScreenshot","group","introductoryOffers","promotionalOffers","offerCodes","prices","pricePoints","promotedPurchase","subscriptionAvailability","winBackOffers","images"]}},"style":"form","explode":false},{"name":"fields[subscriptionOfferCodeOneTimeUseCodes]","in":"query","description":"the fields to include for returned resources of type subscriptionOfferCodeOneTimeUseCodes","schema":{"type":"array","items":{"type":"string","enum":["numberOfCodes","createdDate","expirationDate","active","offerCode","values"]}},"style":"form","explode":false},{"name":"fields[subscriptionOfferCodeCustomCodes]","in":"query","description":"the fields to include for returned resources of type subscriptionOfferCodeCustomCodes","schema":{"type":"array","items":{"type":"string","enum":["customCode","numberOfCodes","createdDate","expirationDate","active","offerCode"]}},"style":"form","explode":false},{"name":"fields[subscriptionOfferCodePrices]","in":"query","description":"the fields to include for returned resources of type subscriptionOfferCodePrices","schema":{"type":"array","items":{"type":"string","enum":["territory","subscriptionPricePoint"]}},"style":"form","explode":false},{"name":"limit","in":"query","description":"maximum resources per page","schema":{"type":"integer","maximum":200},"style":"form"},{"name":"include","in":"query","description":"comma-separated list of relationships to include","schema":{"type":"array","items":{"type":"string","enum":["subscription","oneTimeUseCodes","customCodes","prices"]}},"style":"form","explode":false},{"name":"limit[oneTimeUseCodes]","in":"query","description":"maximum number of related oneTimeUseCodes returned (when they are included)","schema":{"type":"integer","maximum":50},"style":"form"},{"name":"limit[customCodes]","in":"query","description":"maximum number of related customCodes returned (when they are included)","schema":{"type":"integer","maximum":50},"style":"form"},{"name":"limit[prices]","in":"query","description":"maximum number of related prices returned (when they are included)","schema":{"type":"integer","maximum":50},"style":"form"}],"responses":{"200":{"description":"List of SubscriptionOfferCodes","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubscriptionOfferCodesResponse"}}}},"400":{"description":"Parameter error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limit exceeded error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"parameters":[{"name":"id","in":"path","description":"the id of the requested resource","schema":{"type":"string"},"style":"simple","required":true}]},"/v1/subscriptions/{id}/promotionalOffers":{"get":{"tags":["Subscriptions"],"operationId":"subscriptions_promotionalOffers_getToManyRelated","parameters":[{"name":"filter[territory]","in":"query","description":"filter by territory","schema":{"type":"array","items":{"type":"string"}},"style":"form","explode":false},{"name":"fields[subscriptionPromotionalOffers]","in":"query","description":"the fields to include for returned resources of type subscriptionPromotionalOffers","schema":{"type":"array","items":{"type":"string","enum":["duration","name","numberOfPeriods","offerCode","offerMode","subscription","prices"]}},"style":"form","explode":false},{"name":"fields[subscriptions]","in":"query","description":"the fields to include for returned resources of type subscriptions","schema":{"type":"array","items":{"type":"string","enum":["name","productId","familySharable","state","subscriptionPeriod","reviewNote","groupLevel","subscriptionLocalizations","appStoreReviewScreenshot","group","introductoryOffers","promotionalOffers","offerCodes","prices","pricePoints","promotedPurchase","subscriptionAvailability","winBackOffers","images"]}},"style":"form","explode":false},{"name":"fields[subscriptionPromotionalOfferPrices]","in":"query","description":"the fields to include for returned resources of type subscriptionPromotionalOfferPrices","schema":{"type":"array","items":{"type":"string","enum":["territory","subscriptionPricePoint"]}},"style":"form","explode":false},{"name":"limit","in":"query","description":"maximum resources per page","schema":{"type":"integer","maximum":200},"style":"form"},{"name":"include","in":"query","description":"comma-separated list of relationships to include","schema":{"type":"array","items":{"type":"string","enum":["subscription","prices"]}},"style":"form","explode":false},{"name":"limit[prices]","in":"query","description":"maximum number of related prices returned (when they are included)","schema":{"type":"integer","maximum":50},"style":"form"}],"responses":{"200":{"description":"List of SubscriptionPromotionalOffers","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubscriptionPromotionalOffersResponse"}}}},"400":{"description":"Parameter error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limit exceeded error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"parameters":[{"name":"id","in":"path","description":"the id of the requested resource","schema":{"type":"string"},"style":"simple","required":true}]},"/v1/subscriptions/{id}/subscriptionLocalizations":{"get":{"tags":["Subscriptions"],"operationId":"subscriptions_subscriptionLocalizations_getToManyRelated","parameters":[{"name":"fields[subscriptionLocalizations]","in":"query","description":"the fields to include for returned resources of type subscriptionLocalizations","schema":{"type":"array","items":{"type":"string","enum":["name","locale","description","state","subscription"]}},"style":"form","explode":false},{"name":"fields[subscriptions]","in":"query","description":"the fields to include for returned resources of type subscriptions","schema":{"type":"array","items":{"type":"string","enum":["name","productId","familySharable","state","subscriptionPeriod","reviewNote","groupLevel","subscriptionLocalizations","appStoreReviewScreenshot","group","introductoryOffers","promotionalOffers","offerCodes","prices","pricePoints","promotedPurchase","subscriptionAvailability","winBackOffers","images"]}},"style":"form","explode":false},{"name":"limit","in":"query","description":"maximum resources per page","schema":{"type":"integer","maximum":200},"style":"form"},{"name":"include","in":"query","description":"comma-separated list of relationships to include","schema":{"type":"array","items":{"type":"string","enum":["subscription"]}},"style":"form","explode":false}],"responses":{"200":{"description":"List of SubscriptionLocalizations","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubscriptionLocalizationsResponse"}}}},"400":{"description":"Parameter error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limit exceeded error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"parameters":[{"name":"id","in":"path","description":"the id of the requested resource","schema":{"type":"string"},"style":"simple","required":true}]},"/v1/subscriptions/{id}/introductoryOffers":{"get":{"tags":["Subscriptions"],"operationId":"subscriptions_introductoryOffers_getToManyRelated","parameters":[{"name":"filter[territory]","in":"query","description":"filter by id(s) of related 'territory'","schema":{"type":"array","items":{"type":"string"}},"style":"form","explode":false},{"name":"fields[subscriptionIntroductoryOffers]","in":"query","description":"the fields to include for returned resources of type subscriptionIntroductoryOffers","schema":{"type":"array","items":{"type":"string","enum":["startDate","endDate","duration","offerMode","numberOfPeriods","subscription","territory","subscriptionPricePoint"]}},"style":"form","explode":false},{"name":"fields[subscriptions]","in":"query","description":"the fields to include for returned resources of type subscriptions","schema":{"type":"array","items":{"type":"string","enum":["name","productId","familySharable","state","subscriptionPeriod","reviewNote","groupLevel","subscriptionLocalizations","appStoreReviewScreenshot","group","introductoryOffers","promotionalOffers","offerCodes","prices","pricePoints","promotedPurchase","subscriptionAvailability","winBackOffers","images"]}},"style":"form","explode":false},{"name":"fields[territories]","in":"query","description":"the fields to include for returned resources of type territories","schema":{"type":"array","items":{"type":"string","enum":["currency"]}},"style":"form","explode":false},{"name":"fields[subscriptionPricePoints]","in":"query","description":"the fields to include for returned resources of type subscriptionPricePoints","schema":{"type":"array","items":{"type":"string","enum":["customerPrice","proceeds","proceedsYear2","territory","equalizations"]}},"style":"form","explode":false},{"name":"limit","in":"query","description":"maximum resources per page","schema":{"type":"integer","maximum":200},"style":"form"},{"name":"include","in":"query","description":"comma-separated list of relationships to include","schema":{"type":"array","items":{"type":"string","enum":["subscription","territory","subscriptionPricePoint"]}},"style":"form","explode":false}],"responses":{"200":{"description":"List of SubscriptionIntroductoryOffers","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubscriptionIntroductoryOffersResponse"}}}},"400":{"description":"Parameter error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limit exceeded error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"parameters":[{"name":"id","in":"path","description":"the id of the requested resource","schema":{"type":"string"},"style":"simple","required":true}]},"/v2/inAppPurchases":{"post":{"tags":["InAppPurchases"],"operationId":"inAppPurchasesV2_createInstance","requestBody":{"description":"InAppPurchase representation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InAppPurchaseV2CreateRequest"}}},"required":true},"responses":{"201":{"description":"Single InAppPurchase","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InAppPurchaseV2Response"}}}},"400":{"description":"Parameter error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Request entity error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Unprocessable request entity error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limit exceeded error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v2/inAppPurchases/{id}":{"get":{"tags":["InAppPurchases"],"operationId":"inAppPurchasesV2_getInstance","parameters":[{"name":"fields[inAppPurchases]","in":"query","description":"the fields to include for returned resources of type inAppPurchases","schema":{"type":"array","items":{"type":"string","enum":["name","productId","inAppPurchaseType","state","reviewNote","familySharable","contentHosting","inAppPurchaseLocalizations","pricePoints","content","appStoreReviewScreenshot","promotedPurchase","iapPriceSchedule","inAppPurchaseAvailability","images"]}},"style":"form","explode":false,"required":false},{"name":"fields[inAppPurchaseLocalizations]","in":"query","description":"the fields to include for returned resources of type inAppPurchaseLocalizations","schema":{"type":"array","items":{"type":"string","enum":["name","locale","description","state","inAppPurchaseV2"]}},"style":"form","explode":false,"required":false},{"name":"fields[inAppPurchasePricePoints]","in":"query","description":"the fields to include for returned resources of type inAppPurchasePricePoints","schema":{"type":"array","items":{"type":"string","enum":["customerPrice","proceeds","territory","equalizations"]}},"style":"form","explode":false,"required":false},{"name":"fields[inAppPurchaseContents]","in":"query","description":"the fields to include for returned resources of type inAppPurchaseContents","schema":{"type":"array","items":{"type":"string","enum":["fileName","fileSize","url","lastModifiedDate","inAppPurchaseV2"]}},"style":"form","explode":false,"required":false},{"name":"fields[inAppPurchaseAppStoreReviewScreenshots]","in":"query","description":"the fields to include for returned resources of type inAppPurchaseAppStoreReviewScreenshots","schema":{"type":"array","items":{"type":"string","enum":["fileSize","fileName","sourceFileChecksum","imageAsset","assetToken","assetType","uploadOperations","assetDeliveryState","inAppPurchaseV2"]}},"style":"form","explode":false,"required":false},{"name":"fields[promotedPurchases]","in":"query","description":"the fields to include for returned resources of type promotedPurchases","schema":{"type":"array","items":{"type":"string","enum":["visibleForAllUsers","enabled","state","inAppPurchaseV2","subscription"]}},"style":"form","explode":false,"required":false},{"name":"fields[inAppPurchasePriceSchedules]","in":"query","description":"the fields to include for returned resources of type inAppPurchasePriceSchedules","schema":{"type":"array","items":{"type":"string","enum":["baseTerritory","manualPrices","automaticPrices"]}},"style":"form","explode":false,"required":false},{"name":"fields[inAppPurchaseAvailabilities]","in":"query","description":"the fields to include for returned resources of type inAppPurchaseAvailabilities","schema":{"type":"array","items":{"type":"string","enum":["availableInNewTerritories","availableTerritories"]}},"style":"form","explode":false,"required":false},{"name":"fields[inAppPurchaseImages]","in":"query","description":"the fields to include for returned resources of type inAppPurchaseImages","schema":{"type":"array","items":{"type":"string","enum":["fileSize","fileName","sourceFileChecksum","assetToken","imageAsset","uploadOperations","state","inAppPurchase"]}},"style":"form","explode":false,"required":false},{"name":"include","in":"query","description":"comma-separated list of relationships to include","schema":{"type":"array","items":{"type":"string","enum":["inAppPurchaseLocalizations","pricePoints","content","appStoreReviewScreenshot","promotedPurchase","iapPriceSchedule","inAppPurchaseAvailability","images"]}},"style":"form","explode":false,"required":false},{"name":"limit[images]","in":"query","description":"maximum number of related images returned (when they are included)","schema":{"type":"integer","maximum":50},"style":"form","required":false},{"name":"limit[inAppPurchaseLocalizations]","in":"query","description":"maximum number of related inAppPurchaseLocalizations returned (when they are included)","schema":{"type":"integer","maximum":50},"style":"form","required":false},{"name":"limit[pricePoints]","in":"query","description":"maximum number of related pricePoints returned (when they are included)","schema":{"type":"integer","maximum":8000},"style":"form","required":false}],"responses":{"200":{"description":"Single InAppPurchase","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InAppPurchaseV2Response"}}}},"400":{"description":"Parameter error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limit exceeded error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"patch":{"tags":["InAppPurchases"],"operationId":"inAppPurchasesV2_updateInstance","requestBody":{"description":"InAppPurchase representation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InAppPurchaseV2UpdateRequest"}}},"required":true},"responses":{"200":{"description":"Single InAppPurchase","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InAppPurchaseV2Response"}}}},"400":{"description":"Parameter error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Request entity error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Unprocessable request entity error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limit exceeded error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"delete":{"tags":["InAppPurchases"],"operationId":"inAppPurchasesV2_deleteInstance","responses":{"204":{"description":"Success (no content)"},"400":{"description":"Parameter error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Request entity error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limit exceeded error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"parameters":[{"name":"id","in":"path","description":"the id of the requested resource","schema":{"type":"string"},"style":"simple","required":true}]},"/v1/subscriptionGroups":{"post":{"tags":["SubscriptionGroups"],"operationId":"subscriptionGroups_createInstance","requestBody":{"description":"SubscriptionGroup representation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubscriptionGroupCreateRequest"}}},"required":true},"responses":{"201":{"description":"Single SubscriptionGroup","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubscriptionGroupResponse"}}}},"400":{"description":"Parameter error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Request entity error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Unprocessable request entity error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limit exceeded error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/subscriptionGroups/{id}":{"get":{"tags":["SubscriptionGroups"],"operationId":"subscriptionGroups_getInstance","parameters":[{"name":"fields[subscriptionGroups]","in":"query","description":"the fields to include for returned resources of type subscriptionGroups","schema":{"type":"array","items":{"type":"string","enum":["referenceName","subscriptions","subscriptionGroupLocalizations"]}},"style":"form","explode":false,"required":false},{"name":"fields[subscriptions]","in":"query","description":"the fields to include for returned resources of type subscriptions","schema":{"type":"array","items":{"type":"string","enum":["name","productId","familySharable","state","subscriptionPeriod","reviewNote","groupLevel","subscriptionLocalizations","appStoreReviewScreenshot","group","introductoryOffers","promotionalOffers","offerCodes","prices","pricePoints","promotedPurchase","subscriptionAvailability","winBackOffers","images"]}},"style":"form","explode":false,"required":false},{"name":"fields[subscriptionGroupLocalizations]","in":"query","description":"the fields to include for returned resources of type subscriptionGroupLocalizations","schema":{"type":"array","items":{"type":"string","enum":["name","customAppName","locale","state","subscriptionGroup"]}},"style":"form","explode":false,"required":false},{"name":"include","in":"query","description":"comma-separated list of relationships to include","schema":{"type":"array","items":{"type":"string","enum":["subscriptions","subscriptionGroupLocalizations"]}},"style":"form","explode":false,"required":false},{"name":"limit[subscriptionGroupLocalizations]","in":"query","description":"maximum number of related subscriptionGroupLocalizations returned (when they are included)","schema":{"type":"integer","maximum":50},"style":"form","required":false},{"name":"limit[subscriptions]","in":"query","description":"maximum number of related subscriptions returned (when they are included)","schema":{"type":"integer","maximum":50},"style":"form","required":false}],"responses":{"200":{"description":"Single SubscriptionGroup","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubscriptionGroupResponse"}}}},"400":{"description":"Parameter error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limit exceeded error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"patch":{"tags":["SubscriptionGroups"],"operationId":"subscriptionGroups_updateInstance","requestBody":{"description":"SubscriptionGroup representation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubscriptionGroupUpdateRequest"}}},"required":true},"responses":{"200":{"description":"Single SubscriptionGroup","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubscriptionGroupResponse"}}}},"400":{"description":"Parameter error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Request entity error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Unprocessable request entity error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limit exceeded error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"delete":{"tags":["SubscriptionGroups"],"operationId":"subscriptionGroups_deleteInstance","responses":{"204":{"description":"Success (no content)"},"400":{"description":"Parameter error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Request entity error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limit exceeded error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"parameters":[{"name":"id","in":"path","description":"the id of the requested resource","schema":{"type":"string"},"style":"simple","required":true}]},"/v1/subscriptions":{"post":{"tags":["Subscriptions"],"operationId":"subscriptions_createInstance","requestBody":{"description":"Subscription representation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubscriptionCreateRequest"}}},"required":true},"responses":{"201":{"description":"Single Subscription","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubscriptionResponse"}}}},"400":{"description":"Parameter error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Request entity error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Unprocessable request entity error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limit exceeded error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/subscriptions/{id}":{"get":{"tags":["Subscriptions"],"operationId":"subscriptions_getInstance","parameters":[{"name":"fields[subscriptions]","in":"query","description":"the fields to include for returned resources of type subscriptions","schema":{"type":"array","items":{"type":"string","enum":["name","productId","familySharable","state","subscriptionPeriod","reviewNote","groupLevel","subscriptionLocalizations","appStoreReviewScreenshot","group","introductoryOffers","promotionalOffers","offerCodes","prices","pricePoints","promotedPurchase","subscriptionAvailability","winBackOffers","images"]}},"style":"form","explode":false,"required":false},{"name":"fields[subscriptionLocalizations]","in":"query","description":"the fields to include for returned resources of type subscriptionLocalizations","schema":{"type":"array","items":{"type":"string","enum":["name","locale","description","state","subscription"]}},"style":"form","explode":false,"required":false},{"name":"fields[subscriptionAppStoreReviewScreenshots]","in":"query","description":"the fields to include for returned resources of type subscriptionAppStoreReviewScreenshots","schema":{"type":"array","items":{"type":"string","enum":["fileSize","fileName","sourceFileChecksum","imageAsset","assetToken","assetType","uploadOperations","assetDeliveryState","subscription"]}},"style":"form","explode":false,"required":false},{"name":"fields[subscriptionIntroductoryOffers]","in":"query","description":"the fields to include for returned resources of type subscriptionIntroductoryOffers","schema":{"type":"array","items":{"type":"string","enum":["startDate","endDate","duration","offerMode","numberOfPeriods","subscription","territory","subscriptionPricePoint"]}},"style":"form","explode":false,"required":false},{"name":"fields[subscriptionPromotionalOffers]","in":"query","description":"the fields to include for returned resources of type subscriptionPromotionalOffers","schema":{"type":"array","items":{"type":"string","enum":["duration","name","numberOfPeriods","offerCode","offerMode","subscription","prices"]}},"style":"form","explode":false,"required":false},{"name":"fields[subscriptionOfferCodes]","in":"query","description":"the fields to include for returned resources of type subscriptionOfferCodes","schema":{"type":"array","items":{"type":"string","enum":["name","customerEligibilities","offerEligibility","duration","offerMode","numberOfPeriods","active","subscription","oneTimeUseCodes","customCodes","prices"]}},"style":"form","explode":false,"required":false},{"name":"fields[subscriptionPrices]","in":"query","description":"the fields to include for returned resources of type subscriptionPrices","schema":{"type":"array","items":{"type":"string","enum":["startDate","preserved","territory","subscriptionPricePoint"]}},"style":"form","explode":false,"required":false},{"name":"fields[promotedPurchases]","in":"query","description":"the fields to include for returned resources of type promotedPurchases","schema":{"type":"array","items":{"type":"string","enum":["visibleForAllUsers","enabled","state","inAppPurchaseV2","subscription"]}},"style":"form","explode":false,"required":false},{"name":"fields[subscriptionAvailabilities]","in":"query","description":"the fields to include for returned resources of type subscriptionAvailabilities","schema":{"type":"array","items":{"type":"string","enum":["availableInNewTerritories","availableTerritories"]}},"style":"form","explode":false,"required":false},{"name":"fields[winBackOffers]","in":"query","description":"the fields to include for returned resources of type winBackOffers","schema":{"type":"array","items":{"type":"string","enum":["referenceName","offerId","duration","offerMode","periodCount","customerEligibilityPaidSubscriptionDurationInMonths","customerEligibilityTimeSinceLastSubscribedInMonths","customerEligibilityWaitBetweenOffersInMonths","startDate","endDate","priority","promotionIntent","prices"]}},"style":"form","explode":false,"required":false},{"name":"fields[subscriptionImages]","in":"query","description":"the fields to include for returned resources of type subscriptionImages","schema":{"type":"array","items":{"type":"string","enum":["fileSize","fileName","sourceFileChecksum","assetToken","imageAsset","uploadOperations","state","subscription"]}},"style":"form","explode":false,"required":false},{"name":"include","in":"query","description":"comma-separated list of relationships to include","schema":{"type":"array","items":{"type":"string","enum":["subscriptionLocalizations","appStoreReviewScreenshot","group","introductoryOffers","promotionalOffers","offerCodes","prices","promotedPurchase","subscriptionAvailability","winBackOffers","images"]}},"style":"form","explode":false,"required":false},{"name":"limit[images]","in":"query","description":"maximum number of related images returned (when they are included)","schema":{"type":"integer","maximum":50},"style":"form","required":false},{"name":"limit[introductoryOffers]","in":"query","description":"maximum number of related introductoryOffers returned (when they are included)","schema":{"type":"integer","maximum":50},"style":"form","required":false},{"name":"limit[offerCodes]","in":"query","description":"maximum number of related offerCodes returned (when they are included)","schema":{"type":"integer","maximum":50},"style":"form","required":false},{"name":"limit[prices]","in":"query","description":"maximum number of related prices returned (when they are included)","schema":{"type":"integer","maximum":50},"style":"form","required":false},{"name":"limit[promotionalOffers]","in":"query","description":"maximum number of related promotionalOffers returned (when they are included)","schema":{"type":"integer","maximum":50},"style":"form","required":false},{"name":"limit[subscriptionLocalizations]","in":"query","description":"maximum number of related subscriptionLocalizations returned (when they are included)","schema":{"type":"integer","maximum":50},"style":"form","required":false},{"name":"limit[winBackOffers]","in":"query","description":"maximum number of related winBackOffers returned (when they are included)","schema":{"type":"integer","maximum":50},"style":"form","required":false}],"responses":{"200":{"description":"Single Subscription","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubscriptionResponse"}}}},"400":{"description":"Parameter error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limit exceeded error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"patch":{"tags":["Subscriptions"],"operationId":"subscriptions_updateInstance","requestBody":{"description":"Subscription representation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubscriptionUpdateRequest"}}},"required":true},"responses":{"200":{"description":"Single Subscription","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubscriptionResponse"}}}},"400":{"description":"Parameter error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Request entity error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Unprocessable request entity error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limit exceeded error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"delete":{"tags":["Subscriptions"],"operationId":"subscriptions_deleteInstance","responses":{"204":{"description":"Success (no content)"},"400":{"description":"Parameter error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Request entity error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limit exceeded error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"parameters":[{"name":"id","in":"path","description":"the id of the requested resource","schema":{"type":"string"},"style":"simple","required":true}]},"/v1/apps":{"get":{"tags":["Apps"],"operationId":"apps_getCollection","parameters":[{"name":"filter[name]","in":"query","description":"filter by attribute 'name'","schema":{"type":"array","items":{"type":"string"}},"style":"form","explode":false,"required":false},{"name":"filter[bundleId]","in":"query","description":"filter by attribute 'bundleId'","schema":{"type":"array","items":{"type":"string"}},"style":"form","explode":false,"required":false},{"name":"filter[sku]","in":"query","description":"filter by attribute 'sku'","schema":{"type":"array","items":{"type":"string"}},"style":"form","explode":false,"required":false},{"name":"filter[appStoreVersions.appStoreState]","in":"query","description":"filter by attribute 'appStoreVersions.appStoreState'","schema":{"type":"array","items":{"type":"string","enum":["ACCEPTED","DEVELOPER_REMOVED_FROM_SALE","DEVELOPER_REJECTED","IN_REVIEW","INVALID_BINARY","METADATA_REJECTED","PENDING_APPLE_RELEASE","PENDING_CONTRACT","PENDING_DEVELOPER_RELEASE","PREPARE_FOR_SUBMISSION","PREORDER_READY_FOR_SALE","PROCESSING_FOR_APP_STORE","READY_FOR_REVIEW","READY_FOR_SALE","REJECTED","REMOVED_FROM_SALE","WAITING_FOR_EXPORT_COMPLIANCE","WAITING_FOR_REVIEW","REPLACED_WITH_NEW_VERSION","NOT_APPLICABLE"]}},"style":"form","explode":false,"required":false,"deprecated":true},{"name":"filter[appStoreVersions.platform]","in":"query","description":"filter by attribute 'appStoreVersions.platform'","schema":{"type":"array","items":{"type":"string","enum":["IOS","MAC_OS","TV_OS","VISION_OS"]}},"style":"form","explode":false,"required":false},{"name":"filter[appStoreVersions.appVersionState]","in":"query","description":"filter by attribute 'appStoreVersions.appVersionState'","schema":{"type":"array","items":{"type":"string","enum":["ACCEPTED","DEVELOPER_REJECTED","IN_REVIEW","INVALID_BINARY","METADATA_REJECTED","PENDING_APPLE_RELEASE","PENDING_DEVELOPER_RELEASE","PREPARE_FOR_SUBMISSION","PROCESSING_FOR_DISTRIBUTION","READY_FOR_DISTRIBUTION","READY_FOR_REVIEW","REJECTED","REPLACED_WITH_NEW_VERSION","WAITING_FOR_EXPORT_COMPLIANCE","WAITING_FOR_REVIEW"]}},"style":"form","explode":false,"required":false},{"name":"filter[reviewSubmissions.state]","in":"query","description":"filter by attribute 'reviewSubmissions.state'","schema":{"type":"array","items":{"type":"string","enum":["READY_FOR_REVIEW","WAITING_FOR_REVIEW","IN_REVIEW","UNRESOLVED_ISSUES","CANCELING","COMPLETING","COMPLETE"]}},"style":"form","explode":false,"required":false},{"name":"filter[reviewSubmissions.platform]","in":"query","description":"filter by attribute 'reviewSubmissions.platform'","schema":{"type":"array","items":{"type":"string","enum":["IOS","MAC_OS","TV_OS","VISION_OS"]}},"style":"form","explode":false,"required":false},{"name":"filter[appStoreVersions]","in":"query","description":"filter by id(s) of related 'appStoreVersions'","schema":{"type":"array","items":{"type":"string"}},"style":"form","explode":false,"required":false},{"name":"filter[id]","in":"query","description":"filter by id(s)","schema":{"type":"array","items":{"type":"string"}},"style":"form","explode":false,"required":false},{"name":"exists[gameCenterEnabledVersions]","in":"query","description":"filter by existence or non-existence of related 'gameCenterEnabledVersions'","schema":{"type":"boolean"},"style":"form","explode":false,"required":false,"deprecated":true},{"name":"sort","in":"query","description":"comma-separated list of sort expressions; resources will be sorted as specified","schema":{"type":"array","items":{"type":"string","enum":["name","-name","bundleId","-bundleId","sku","-sku"]}},"style":"form","explode":false,"required":false},{"name":"fields[apps]","in":"query","description":"the fields to include for returned resources of type apps","schema":{"type":"array","items":{"type":"string","enum":["accessibilityUrl","name","bundleId","sku","primaryLocale","isOrEverWasMadeForKids","subscriptionStatusUrl","subscriptionStatusUrlVersion","subscriptionStatusUrlForSandbox","subscriptionStatusUrlVersionForSandbox","contentRightsDeclaration","streamlinedPurchasingEnabled","accessibilityDeclarations","appEncryptionDeclarations","ciProduct","betaTesters","betaGroups","appStoreVersions","preReleaseVersions","betaAppLocalizations","builds","betaLicenseAgreement","betaAppReviewDetail","appInfos","appClips","appPricePoints","endUserLicenseAgreement","appPriceSchedule","appAvailabilityV2","inAppPurchases","subscriptionGroups","gameCenterEnabledVersions","perfPowerMetrics","appCustomProductPages","inAppPurchasesV2","promotedPurchases","appEvents","reviewSubmissions","subscriptionGracePeriod","customerReviews","customerReviewSummarizations","gameCenterDetail","appStoreVersionExperimentsV2","alternativeDistributionKey","analyticsReportRequests","marketplaceSearchDetail","backgroundAssets","betaFeedbackScreenshotSubmissions","betaFeedbackCrashSubmissions","webhooks"]}},"style":"form","explode":false,"required":false},{"name":"fields[appEncryptionDeclarations]","in":"query","description":"the fields to include for returned resources of type appEncryptionDeclarations","schema":{"type":"array","items":{"type":"string","enum":["appDescription","createdDate","usesEncryption","exempt","containsProprietaryCryptography","containsThirdPartyCryptography","availableOnFrenchStore","platform","uploadedDate","documentUrl","documentName","documentType","appEncryptionDeclarationState","codeValue","app","builds","appEncryptionDeclarationDocument"]}},"style":"form","explode":false,"required":false},{"name":"fields[ciProducts]","in":"query","description":"the fields to include for returned resources of type ciProducts","schema":{"type":"array","items":{"type":"string","enum":["name","createdDate","productType","app","bundleId","workflows","primaryRepositories","additionalRepositories","buildRuns"]}},"style":"form","explode":false,"required":false},{"name":"fields[betaGroups]","in":"query","description":"the fields to include for returned resources of type betaGroups","schema":{"type":"array","items":{"type":"string","enum":["name","createdDate","isInternalGroup","hasAccessToAllBuilds","publicLinkEnabled","publicLinkId","publicLinkLimitEnabled","publicLinkLimit","publicLink","feedbackEnabled","iosBuildsAvailableForAppleSiliconMac","iosBuildsAvailableForAppleVision","app","builds","betaTesters","betaRecruitmentCriteria","betaRecruitmentCriterionCompatibleBuildCheck"]}},"style":"form","explode":false,"required":false},{"name":"fields[appStoreVersions]","in":"query","description":"the fields to include for returned resources of type appStoreVersions","schema":{"type":"array","items":{"type":"string","enum":["platform","versionString","appStoreState","appVersionState","copyright","reviewType","releaseType","earliestReleaseDate","usesIdfa","downloadable","createdDate","app","ageRatingDeclaration","appStoreVersionLocalizations","build","appStoreVersionPhasedRelease","gameCenterAppVersion","routingAppCoverage","appStoreReviewDetail","appStoreVersionSubmission","appClipDefaultExperience","appStoreVersionExperiments","appStoreVersionExperimentsV2","customerReviews","alternativeDistributionPackage"]}},"style":"form","explode":false,"required":false},{"name":"fields[preReleaseVersions]","in":"query","description":"the fields to include for returned resources of type preReleaseVersions","schema":{"type":"array","items":{"type":"string","enum":["version","platform","builds","app"]}},"style":"form","explode":false,"required":false},{"name":"fields[betaAppLocalizations]","in":"query","description":"the fields to include for returned resources of type betaAppLocalizations","schema":{"type":"array","items":{"type":"string","enum":["feedbackEmail","marketingUrl","privacyPolicyUrl","tvOsPrivacyPolicy","description","locale","app"]}},"style":"form","explode":false,"required":false},{"name":"fields[builds]","in":"query","description":"the fields to include for returned resources of type builds","schema":{"type":"array","items":{"type":"string","enum":["version","uploadedDate","expirationDate","expired","minOsVersion","lsMinimumSystemVersion","computedMinMacOsVersion","computedMinVisionOsVersion","iconAssetToken","processingState","buildAudienceType","usesNonExemptEncryption","preReleaseVersion","individualTesters","betaGroups","betaBuildLocalizations","appEncryptionDeclaration","betaAppReviewSubmission","app","buildBetaDetail","appStoreVersion","icons","buildBundles","perfPowerMetrics","diagnosticSignatures"]}},"style":"form","explode":false,"required":false},{"name":"fields[betaLicenseAgreements]","in":"query","description":"the fields to include for returned resources of type betaLicenseAgreements","schema":{"type":"array","items":{"type":"string","enum":["agreementText","app"]}},"style":"form","explode":false,"required":false},{"name":"fields[betaAppReviewDetails]","in":"query","description":"the fields to include for returned resources of type betaAppReviewDetails","schema":{"type":"array","items":{"type":"string","enum":["contactFirstName","contactLastName","contactPhone","contactEmail","demoAccountName","demoAccountPassword","demoAccountRequired","notes","app"]}},"style":"form","explode":false,"required":false},{"name":"fields[appInfos]","in":"query","description":"the fields to include for returned resources of type appInfos","schema":{"type":"array","items":{"type":"string","enum":["appStoreState","state","appStoreAgeRating","australiaAgeRating","brazilAgeRating","brazilAgeRatingV2","franceAgeRating","koreaAgeRating","kidsAgeBand","app","ageRatingDeclaration","appInfoLocalizations","primaryCategory","primarySubcategoryOne","primarySubcategoryTwo","secondaryCategory","secondarySubcategoryOne","secondarySubcategoryTwo"]}},"style":"form","explode":false,"required":false},{"name":"fields[appClips]","in":"query","description":"the fields to include for returned resources of type appClips","schema":{"type":"array","items":{"type":"string","enum":["bundleId","app","appClipDefaultExperiences","appClipAdvancedExperiences"]}},"style":"form","explode":false,"required":false},{"name":"fields[endUserLicenseAgreements]","in":"query","description":"the fields to include for returned resources of type endUserLicenseAgreements","schema":{"type":"array","items":{"type":"string","enum":["agreementText","app","territories"]}},"style":"form","explode":false,"required":false},{"name":"fields[inAppPurchases]","in":"query","description":"the fields to include for returned resources of type inAppPurchases","schema":{"type":"array","items":{"type":"string","enum":["referenceName","productId","inAppPurchaseType","state","apps","name","reviewNote","familySharable","contentHosting","inAppPurchaseLocalizations","pricePoints","content","appStoreReviewScreenshot","promotedPurchase","iapPriceSchedule","inAppPurchaseAvailability","images"]}},"style":"form","explode":false,"required":false},{"name":"fields[subscriptionGroups]","in":"query","description":"the fields to include for returned resources of type subscriptionGroups","schema":{"type":"array","items":{"type":"string","enum":["referenceName","subscriptions","subscriptionGroupLocalizations"]}},"style":"form","explode":false,"required":false},{"name":"fields[gameCenterEnabledVersions]","in":"query","description":"the fields to include for returned resources of type gameCenterEnabledVersions","schema":{"type":"array","items":{"type":"string","enum":["platform","versionString","iconAsset","compatibleVersions","app"]}},"style":"form","explode":false,"required":false,"deprecated":true},{"name":"fields[appCustomProductPages]","in":"query","description":"the fields to include for returned resources of type appCustomProductPages","schema":{"type":"array","items":{"type":"string","enum":["name","url","visible","app","appCustomProductPageVersions"]}},"style":"form","explode":false,"required":false},{"name":"fields[promotedPurchases]","in":"query","description":"the fields to include for returned resources of type promotedPurchases","schema":{"type":"array","items":{"type":"string","enum":["visibleForAllUsers","enabled","state","inAppPurchaseV2","subscription"]}},"style":"form","explode":false,"required":false},{"name":"fields[appEvents]","in":"query","description":"the fields to include for returned resources of type appEvents","schema":{"type":"array","items":{"type":"string","enum":["referenceName","badge","eventState","deepLink","purchaseRequirement","primaryLocale","priority","purpose","territorySchedules","archivedTerritorySchedules","localizations"]}},"style":"form","explode":false,"required":false},{"name":"fields[reviewSubmissions]","in":"query","description":"the fields to include for returned resources of type reviewSubmissions","schema":{"type":"array","items":{"type":"string","enum":["platform","submittedDate","state","app","items","appStoreVersionForReview","submittedByActor","lastUpdatedByActor"]}},"style":"form","explode":false,"required":false},{"name":"fields[subscriptionGracePeriods]","in":"query","description":"the fields to include for returned resources of type subscriptionGracePeriods","schema":{"type":"array","items":{"type":"string","enum":["optIn","sandboxOptIn","duration","renewalType"]}},"style":"form","explode":false,"required":false},{"name":"fields[gameCenterDetails]","in":"query","description":"the fields to include for returned resources of type gameCenterDetails","schema":{"type":"array","items":{"type":"string","enum":["arcadeEnabled","challengeEnabled","app","gameCenterAppVersions","gameCenterGroup","gameCenterLeaderboards","gameCenterLeaderboardSets","gameCenterAchievements","gameCenterActivities","gameCenterChallenges","defaultLeaderboard","defaultGroupLeaderboard","achievementReleases","activityReleases","challengeReleases","leaderboardReleases","leaderboardSetReleases","challengesMinimumPlatformVersions"]}},"style":"form","explode":false,"required":false},{"name":"fields[appStoreVersionExperiments]","in":"query","description":"the fields to include for returned resources of type appStoreVersionExperiments","schema":{"type":"array","items":{"type":"string","enum":["name","platform","trafficProportion","state","reviewRequired","startDate","endDate","app","latestControlVersion","controlVersions","appStoreVersionExperimentTreatments"]}},"style":"form","explode":false,"required":false},{"name":"limit","in":"query","description":"maximum resources per page","schema":{"type":"integer","maximum":200},
[...]
