.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
node_modules
dist
*.p8
/openapi
.jest-cache
compare-price*.csv
apply.json
fetch.json